#div {
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
}

@media (min-width : 400px) and (max-width : 600px) {
    #div{
        background-color: rgb(255, 192, 203, 0.8);
    }
}