*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
}

div {
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;        /** It aligns content from the main axis */
    align-items: flex-start;            /** It aligns content from the cross axis */
    /* align-content: flex-start;          * centers multiple lines of flex items along the cross axis when the container has extra space and flex-wrap is enabled */
}

/** align-items   → aligns items within each flex line (works even with 1 line) */
/**align-content → aligns the flex lines themselves (only matters with multiple wrapped lines) */

.box1 {
    background-color: palevioletred;
}

.box2 {
    background-color: darkkhaki;
    height: 200px;
    align-self: flex-end;
}

.box3 {
    background-color: aquamarine;
    height: 75px;
}

.box4 {
    background-color: blueviolet;
}

.box5 {
    background-color: #2255A4;
}